---
import { SignedIn, SignedOut, UserButton } from '@clerk/astro/components';
import Layout from '../layouts/Layout.astro'
import SignInAstro from '../components/SignInAstro.astro'
import SignInReact from '../components/SignInReact'
---

<Layout title="Index">
    <SignedOut>
        <div class="button-container">
            <SignInAstro />
            <SignInReact client:load />
        </div>
        <p>Note: Be sure to switch between google accounts to see the SSO callback page for each component.</p>
    </SignedOut>
    <SignedIn>
        <UserButton />
    </SignedIn>
</Layout>
