---
import { SignedIn, SignedOut, UserButton } from '@clerk/astro/components'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Index">
    <SignedOut>
        <button id="oauth-btn">Sign in with GitHub</button>
    </SignedOut>
    <SignedIn>
        <UserButton />
    </SignedIn>
</Layout>

<script>
import { $signInStore } from '@clerk/astro/client';

const btn = document.querySelector('#oauth-btn');

btn?.addEventListener('click', () => {
  $signInStore.get()?.authenticateWithRedirect({
    strategy: 'oauth_google',
    redirectUrl: '/sso-callback',
    redirectUrlComplete: '/'
  })
})
</script>
