---
// import { SignedIn, SignedOut, SignInButton, UserButton } from '@clerk/astro/components'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Index">
    <!-- <SignedOut>
        <SignInButton />
    </SignedOut>
    <SignedIn>
        <UserButton />
    </SignedIn> -->
    <div>hello world</div>
</Layout>

<script>
// import { $signInStore } from '@clerk/astro/client';

// const btn = document.querySelector('#oauth-btn');

// btn?.addEventListener('click', () => {
//   $signInStore.get()?.authenticateWithRedirect({
//     strategy: 'oauth_google',
//     redirectUrl: '/sso-callback',
//     redirectUrlComplete: '/'
//   })
// })
</script>
