---
import { AuthenticateWithRedirectCallback } from '@clerk/astro/components';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SSO Callback Astro">
    <h1>This is the SSO callback page for Astro</h1>
    <AuthenticateWithRedirectCallback />
</Layout>
