<button class="blue">Sign in with Google (Astro)</button>

<script>
import { $signInStore } from '@clerk/astro/client';

const btn = document.querySelector('button');

btn?.addEventListener('click', () => {
  $signInStore.get()?.authenticateWithRedirect({
    strategy: 'oauth_google',
    redirectUrl: '/sso-callback-astro',
    redirectUrlComplete: '/'
  })
})
</script>
